html,
body {
	min-height: 100%;
	background-color: #fff;
}
.mui-content {background: #fff;}
.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.bounce-in-down {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

@-webkit-keyframes fadeInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

.bounce-out-up {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}

@-webkit-keyframes fadeOutUp {
	20% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes fadeOutUp {
	20% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

.fade-out-up {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.menu-open {
	height: 100%;
	width: 100%;
}

.menu-open .mui-scroll-wrapper {
	position: absolute;
	top: 48;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.menu-backdrop {
	display: none;
}

.menu-open .menu-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 998;
}

.menu-wrapper {
	position: fixed;
	top: 48px;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: center;
	background-color: #333;
	width: 100%;
}

.menu-wrapper.hidden {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	z-index: -1;
}

.menu {
	width: 100%;
}

.menu .mui-table-view-inverted {
	color: gray;
	font-size: 19px;
}

.menu .mui-table-view-inverted .mui-table-view-cell:after {
	height: 2px;
	left: 0;
	right: 0;
}

.menu-wrapper.mui-active,
.menu-wrapper.mui-active .menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#info {
	padding: 20px 10px;
}
.footer {background: #f5f5f5;padding:10px 0;margin-top:30px;}
.footer .fooRight p {padding:15px 10px 10px 10px;text-align: center;font-size:12px;color:#666;line-height: 22px;margin:0}
.footer .mui-table-view-cell:after,.mui-table-view:before {height:0;background: none;content: none;}
.footer .mui-table-view {background: #f5f5f5;}
.footer .mui-table-view:before {height:0;background: none;content: none;}
.footer .mui-table-view:after,.mui-table-view:after {height:0;background: none;content: none;}
.footer .mui-navigate-right:after, .mui-push-right:after {color:#333}
.body-tit {font-size: 18px;font-weight: bold;color:#333;padding:0 10px}
.news_i .mui-media-body {font-size: 16px;font-weight: bold;color:#545454;padding:3px 0;text-align:left;height:auto;line-height: 100%;}
.news_i .summary {font-size: 14px;color:#999;line-height:22px;white-space: normal;text-align: justify;}
.more_r {font-size: 14px;color:#00a0e9;line-height: 200%;display: block;text-align: right;padding:0px 10px}
/*.mui-table-view.mui-grid-view .mui-table-view-cell {margin-right: -2px;padding: 10px 0 0 12px;}*/
ul,li {list-style: none;    margin: 0;padding: 0;}
.news_i,.video_i,.hyh_i {padding:0 10px}
.video_i .video_tit {
	position: absolute;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 5;
    font-size: 16px;
}
.video_i .video_tit_bg {
	position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    color: #fff;
}
.video_i li .btn {
	position: absolute;
	width:50px;
	height: 50px;
	left:50%;
	top:50%;
	margin-left:-25px;
	margin-top:-25px;
	background: url(../img/index/v_arrow.png) no-repeat center center;background-size:contain ;
}
.video_i li {margin-bottom: 8px;}
.video_i a img {display: block;}
.pro_i .video_tit {
	position: absolute;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    left: 14px;
    bottom: 0;
    color: #fff;
    z-index: 99;
    font-size: 16px;
}
.pro_i .video_tit_bg {
	position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    left: 14px;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    color: #fff;
}
.pro_i li .btn {
	position: absolute;
	width:50px;
	height: 50px;
	left:50%;
	top:50%;
	margin-left:-25px;
	margin-top:-25px;
	background: url(../img/index/v_arrow.png) no-repeat center center;background-size:contain ;
}
.pro_i li {margin-bottom: 8px;}
.pro_i a img {display: block;}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {font-size: 22px;font-weight: bold;}
.footer .mui-table-view-cell.mui-collapse > .mui-navigate-right:after {content: "\e468";}
.footer .mui-table-view-cell.mui-collapse.mui-active > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active > .mui-push-right:after {
	font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e610";}
.footer .links li {height: 30px;line-height: 30px;text-indent: 1em;}
.footer .links li a {display:block;height: 30px;line-height: 30px;font-size: 14px;color:#666}
#icon-menu{
    background: url(../img/menu.png) no-repeat 50% 50%;
    background-size: 60%;
}
.mui-icon-bars:before {
    color:#fff;
    content: '　';
}
.mui-bar-nav .logo {
	
	background: url(../img/logo.png) no-repeat 50% 50%;
    background-size: 60%;
}
.mui-bar-nav .logo:before {
    color: #fff;
}
.mui-bar-nav .logo:before {
    content: '　　';
}
.topHide{
top:-44px;
animation:myfirst 0.5s;
-webkit-animation:myfirst 0.5s; /* Safari and Chrome */
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {top:0px}
to {
	top:-44px;
	-webkit-box-shadow: 0 5px 15px #000;
            }
}
.pro_list #sec_h3.topCla{
	border-radius: 0px;
    margin: 0;
    background: #fff;
    color: #333;
    padding: 12px;
    line-height: 100%;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
	top:0px;
	animation:myfirst1 0.5s;
	-webkit-animation:myfirst1 0.5s; /* Safari and Chrome */
	-webkit-box-shadow: 0 5px 15px #000;
	box-shadow: 0 0 15px #000;
}

@-webkit-keyframes myfirst1{
	from {top:-43px}
	to {top:0px;}
}
.mui-table-view-inverted {background: #fff;}
.menu-wrapper {top:44px;padding-bottom: 20px;background: #fff;}
.menu .mui-table-view-inverted .mui-table-view-cell:after {height:0;background: none;}
#menu-wrapper .mui-navigate-right {text-align: left;}
/*.mui-backdrop {top:44px}*/
#s_video {display: none;position: fixed;width: 100%;min-height: 300px;top:50%;z-index: 999;}
#s_video iframe {width: 100%;height: 100%;}
.mui-backdrop {
	background-color: rgba(0,0,0,.8);
}